<!--[if IE 8]>
 <script src="{{ '/assets/toolkit/vendor/respond.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/rem.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/selectivizr.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/slice.js' | relative_url }}"></script>
 <![endif]-->

 <!--[if lte IE 9]>
 <script src="{{ '/assets/toolkit/vendor/polyfill.min.js' | relative_url }}"></script>
 <![endif]-->

<script src="{{ '/assets/toolkit/IWT.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/main.js' | relative_url }}"></script>

<script>
  $(document).on('keydown', function(e) {
    if (e.keyCode === 9) {
      $('body').removeClass('hide-focus');
    } else if (e.keyCode == 191) { // slash
      $('#cerca').focus();
      e.preventDefault();
    }
  })

  $(document).on('click', function(e) {
    $('body').addClass('hide-focus');
  })
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = "//italia.piwikpro.com/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', 9]);
    var d = document,
      g = d.createElement('script'),
      s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript';
    g.async = true;
    g.defer = true;
    g.src = u + 'piwik.js';
    s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript><p><img src="//italia.piwikpro.com/piwik.php?idsite=9" style="border:0;" alt="piwikpro" /></p></noscript>
<!-- Twitter integration -->
<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<script src="/js/teamdigitale.js?{{ site.time | date: '%Y%m%d%H%M' }}"></script>
